.mainContainer{
  text-align: center;
}
.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.popupInner {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  width: 30%;
  min-height: 550px;
  min-width: 350px;
  overflow-y: hidden;
}

.walletTitle{
  font-family: Noto Sans, sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 10px;
}
.walletTitleGap{
  font-family: Noto Sans, sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 50px;
}
.subTitle{
  font-family: Noto Sans, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  color: #4F4F4F;
  padding-top: 10px;
  padding-bottom: 20px;
}
.buttonRegister{
  color: white;
  font-weight: bold;
  padding: 10px 70px;
  border-radius: 20px;
  background: #31A062;
}
.linkLogin{
  margin: 10px 0;
  display: block;
  font-family: Noto Sans, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  color: #31A062;
}
@media screen and (max-width: 898px) {
  .linkLogin{
    color: #31A062;
  }
}
@media screen and (max-height: 600px) {
  .popupInner{
    top: 60%;
  }
}
@media screen and (max-width: 1300px) {
  .popupInner{
    padding: 5px;
  }
}